/*-------------
General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}


section{
	width: 60%;
	margin: auto;
	margin-bottom: 100px;
}

@media (max-width: 1500px) {

	section{
		width: 90%;
	}

}

@media (max-width: 800px) {

	h6{
		font-size: 65px;
		font-weight: 900;
		line-height: 80px;
	}

}

.center-text {
	text-align: center;
}


/*-------------
TYPOGRAPHY
-------------*/

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	color: #75798F;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #4D516D;
	margin-bottom: 10px;
	letter-spacing: 1px;
}


h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #75798F;
}


h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #75798F;
}


h4{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #75798F;
}


h5{
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #75798F;
}



h6{
	font-family: 'Poppins', sans-serif;
	font-size: 85px;
	font-weight: 900;
	color: #d0d2de;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	line-height: 90px;
}


.semibold{
	font-weight: 600;
}




/*-------------
LINKS
-------------*/

a.hover_version {
	color: #75798F;
	transition: 0.5s ease all .3s;
	border-bottom: 3px solid;
}

a.hover_version:hover {
	transition: 0.3s ease all;
}


a.hover_version01{
	border-color: #51A2FF;
}


a.hover_version01:hover{
	color: #51A2FF;
}


a.hover_version02{
	border-color: #FF9292;
}


a.hover_version02:hover{
	color: #FF9292;
}

a.hover_version03{
	border-color: #00C061;
}


a.hover_version03:hover{
	color: #00C061;
}


a.hover_version04{
	border-color: #44C061;
}


a.hover_version04:hover{
	color: #44C061;
}





/*-------------
HEADER
-------------*/

.header{
	height: 400px;
	margin-bottom: 75px;
	/*	display: flex;
        align-items: center;
        justify-content: center;*/

	display: flex;
	flex-direction: column;
	justify-content: center;


	background-color: #F5F9FB;
	/*	background-color: #4D516D;*/
}

.header h1 {
	color: white;
	text-transform: uppercase;
}

/*-------------
BUTTONS GENERAL
-------------*/

.btns{
	display: flex;
	align-items: center;
	justify-content: center;
}


.btn {
	margin: 5px 15px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
	width: 200px;
	text-align: center;
	transition: 0.5s ease all .3s;
	background-color: #F5F9FB;
	border: 2px solid;
}

.btn h4 {
	letter-spacing: 1px;
	transition: 0.5s ease all .3s;
}

.btn:hover {
	border: 2px solid;
	transition: 0.3s ease all;
}

.btn:hover h4{
	color: white;
	letter-spacing: 1px;
	transition: 0.3s ease all;
}

/*-------------
DESCRIPTION
-------------*/

.description h1 {
	margin-top: 25px;
}

.description p{
	margin-bottom: 10px;
}



/*-------------
HIGHLIGHT
-------------*/

.highlight{
	border-radius: 10px;

	margin-bottom: 20px;
	box-sizing: border-box;

	padding: 30px 30px 35px 30px;
	background-color: #F5F9FB;
}



/*-------------
CONTAINER GENERAL
-------------*/

.container {
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #FFFFFF;
}

.container h4 {
	margin-bottom: 5px;
}

.container .item {
	height: 150px;
	width: calc(50% - 10px);
	border-radius: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 30px 30px 35px 30px;
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.container .item .download{
	text-align: center;
}

.container:after {
	/*content: "";*/
	flex: auto;
}

.version-title{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

@media (max-width: 1000px) {

	.container .item {
		width: 100%;
	}

}



/*-------------
VERSION 01
-------------*/

.btn01{
	border-color: #51A2FF;
}

.btn01 h4{
	color: #51A2FF;
}

.btn01:hover {
	background-color: #51A2FF;
	border-color: #51A2FF;
}

.container01 .item {
	-webkit-box-shadow: 0px 0px 50px 1px rgba(231,237,244,0.8);
	-moz-box-shadow: 0px 0px 50px 1px rgba(231,237,244,0.8);
	box-shadow: 0px 0px 50px 1px rgba(231,237,244,0.8);
}

.container01 h4 {
	color: #51A2FF;
}

#version01 h1 {
	color: #51A2FF;
}


/*-------------
VERSION 02
-------------*/

.btn02{
	border-color: #FF9292;
}

.btn02:hover{
	background-color: #FF9292;
	border-color: #FF9292;
}

.btn02 h4{
	color: #FF9292;
}

.container02 .item {
	-webkit-box-shadow: 0px 0px 50px 1px rgba(244,239,239,0.8);
	-moz-box-shadow: 0px 0px 50px 1px rgba(244,239,239,0.8);
	box-shadow: 0px 0px 50px 1px rgba(244,239,239,0.8);
}

.container02 h4 {
	color: #FF9292;
}

#version02 h1 {
	color: #FF9292;
}


/*-------------
VERSION 03
-------------*/

.btn03{
	border-color: #00C061;
}

.btn03:hover{
	background-color: #00C061;
	border-color: #00C061;
}

.btn03 h4{
	color: #00C061;
}

.container03 .item {
	-webkit-box-shadow: 0px 0px 50px 1px rgba(239,244,239,0.8);
	-moz-box-shadow: 0px 0px 50px 1px rgba(239,244,239,0.8);
	box-shadow: 0px 0px 50px 1px rgba(239,244,239,0.8);
}

.container03 h4 {
	color: #00C061;
}

#version03 h1 {
	color: #00C061;
}


/*-------------
VERSION 04
-------------*/

.btn04{
	border-color: #44C061;
}

.btn04:hover{
	background-color: #44C061;
	border-color: #44C061;
}

.btn04 h4{
	color: #44C061;
}

.container04 .item {
	-webkit-box-shadow: 0px 0px 50px 1px rgba(68,244,239,0.8);
	-moz-box-shadow: 0px 0px 50px 1px rgba(68,244,239,0.8);
	box-shadow: 0px 0px 50px 1px rgba(68,244,239,0.8);
}

.container04 h4 {
	color: #44C061;
}

#version04 h1 {
	color: #44C061;
}
